@import "fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    box-sizing: border-box;
    scrollbar-gutter: stable;
    --nav-height: 70px;
}
body {
    @apply
    bg-light
    text-black
    text-base
    font-regular
}
.App, #root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
h1 {
    font-size: 3.25rem;
    line-height: normal;
}
h2 {
    font-size: 3rem;
    line-height: normal;
}
h3 {
    font-size: 2.75rem;
    line-height: normal;
}
h4 {
    font-size: 2.5rem;
    line-height: normal;
}
h5 {
    font-size: 2.25rem;
    line-height: normal;
}
h6 {
    font-size: 2rem;
    line-height: normal;
}
p {
    margin: 20px 0;
}
