button {
	background: transparent;
	outline: none !important;
}
.primary-button {
	@apply
	bg-black
	py-2.5
	px-4
	rounded-md
	border
	border-black
	text-white
	hover:bg-white
	hover:text-black
	transition-all;
}
.secondary-button {
	@apply
	bg-white
	py-4
	px-10
	rounded-md
	border
	border-black
	text-black
	hover:bg-black
	hover:text-white
	transition-all;
}
