input {
	padding: 0.5rem 1rem !important;
	@apply
	bg-light
	px-2
	py-4
	rounded-lg
	border
	border-black
	outline-none
	h-10
}
input:-webkit-autofill {
	box-shadow: 0 0 0 30px #f8f9fa inset !important;
}

//@import "../../../styles/_mixins"
//input
//	font-size: 1rem
//	padding: 15px 20px
//	border: 1px solid $black
//	+border-radius
//	+flow
//	//&:focus
//	//	border-color: $grey
//	//	+flow
